doctype html
head
	title Braintrust
	link(href="css/main.css" rel="stylesheet" type="text/css")
	script(src="js/jquery.min.js")
	script(src="js/bootstrap.min.js")
body(data-spy="scroll" data-target=".navbar-nav")
	header.site-header
		div.wrapper
			nav.navbar.navbar-inverse
				div.container-fluid
					div.navbar-header
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobilenav")
							span(class="sr-only") Toggle navigation
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="navbar-brand" href="#") BRAINTRUST
					div.collapse.navbar-collapse#mobilenav
						ul(class="nav navbar-nav")
							- var sections = ["problem","solution","about","team","investors","contact"]
							for sec in sections
								li
									a(class="section-link" data-id="#{sec}") #{sec}
	div.row
		div.jumbotron
	div.row
		div.col-md-3
		main.home.col-md-6
			section(class="section" id="problem")
				h3 problem
				p People waste years of their life doing jobs they hate; they feel like their degree is useless, but it's just too late to change majors. People feel pigeon-holed with their degree.
				p 80% of students enter college undeclared, and the lack of guidance certainly doesn't help.

			section(class="section" id="solution")
				h3 solution
				p Our solution at Braintrust is to inspire people with their calling.
				p We are building a predictive tool that provides individuals with career opportunities and innovations that are relevant to their skills, education, experience, and interests.
				p Using information that students already know about themselves, we are helping students take their passion and make it their career.

			section(class="section" id="about")
				h3 about
				p Braintrust is made up of 7 individuals seeking to change the way the world approaches education, specifically change the way students choose or change their majors.
			section(class="section" id="team")
				h3 team
				div.team-wrapper
					- var team = [ { name: "zach turner", title:"founder" }, { name: "monique hagler", title:"designer" }, { name: "geoff davis", title:"web developer" }, { name: "scott finney", title: "strategist" }, { name: "Jennifer Sadler", title: "strategist" }, { name: "Samuel Palaparthy", title: "project manager" }, { name: "burton bridges", title: "creative advisor" } ]
					for member in team
						div.member-card
							div.member-profile(class="profile-#{member.name.replace(' ','-')}")
							ul.list-unstyled
								li.member-name: h5 #{member.name}
								li.member-title: p #{member.title}
						if member.name === "zach turner" || member.name === "scott finney"
							<br>
		div.col-md-3
	footer.bg-primary
		div.row
			.col-md-3
			.col-md-6
				section(class="section" id="contact")
					h3 contact
					dl
						dt Email
						dd xxx@xx.xx
						dt Phone
						dd xxx-xxx-xxxx
						dt Address
						dd
							address 123 Union Ave, Suite 300 #[br] Memphis, TN 38103
			.col-md-3
	script(src="js/init.js")